* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
    margin-top: 40px;
}

.container {
    background-color: #fff;
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #eee;
}

.inp, .box{
    width: 200px;
    margin: 0 auto;
}

#inp {
    position: relative;
}

.box {
    margin-top: 2px;
    padding-top: 2px;
}

.box h2 {
    font-weight: 700;
}

.inp input {
    position: relative;
    height: 33px;
    width: 100%;
    border-radius: 9px;
    border: 2px solid #eee;
    margin: 5px 0;
}

#icon{
    position: absolute;
    display: block;
    bottom: .8rem;
    left: 0.4rem;
    user-select: none;
    cursor: pointer;
    color: gray;
}

.inp button {
    height: 33px;
    width: 100%;
    border-radius: 13px;
    border: 1px solid #eee;
    margin: 5px 0;
    background-color: #3443eb;
    color: #fff;
}